{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Services-->
<header class="sub_masthead">
<section class="page-section" id="notice_list">
{#<H1 class="text-center"><a href="{% url 'passcode:notice_board' %}" style="color: white">Notice</a></H1>#}
    <div class="text-center category-title">
        <h3 class="section-heading text-uppercase" style="color:white">Notice</h3>
        <h3 class="section-subheading text-muted">Notice border</h3>
    </div>
    <div class="container-sm" style="background-color: white">
       <table class="table table-hover">
          <thead>
            <tr>
              <th class="col-1" style="text-align: center"></th>
              <th class="col-5" scope="col" style="text-align: center">제목</th>
              <th class="col-2" scope="col" style="text-align: center">작성일</th>
            </tr>
          </thead>
          <tbody>
          {% for notice in notice_list %}
            <tr>
                <td class="board_num" style="text-align: center">-
{#                        <img class="img-fluid" src="{% static 'assets/img/about/3.jpg' %}" alt="..." style="width: 100%; height: auto;"/>#}
                </td>
                <td class="border-start border-end" style="vertical-align: middle;"><a href="{% url 'passcode:notice_detail' notice.id %}">{{ notice.subject }}</a></td>
                <td class="cur_date" >2023-02-27</td>
{#                <td class="border-end border-start" >2023-02-27</td>#}
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <!-- 페이징처리 시작 -->
        <!-- 페이징처리 끝 -->
   </div>
</section>
</header>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{% static 'js/scripts.js' %}"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
{% endblock %}