.rank_row .col-12{
    padding-top: 10px;
}

.rank_text {
    color: red;
    font-weight: bold;
}
 .rank_symbol {
     font-size: 13px;
     color: gray;
 }

 .rank_symbol_row{
     padding-top: 5px;
 }

 .rank_symbol_row .col-md-12{
     font-weight: bold;
 }
 .market_info .market_title {
     font-size : 15px;
     color: black;
     font-weight: bold;
     font-family: Arial;
     padding-top: 10px;
 }

 .nav-fill .nav-link {
      font-weight: bold;
     font-family: Arial;
 }

 .market_info .market_content {
     font-size : 15px;
     /*font-weight: bold;*/
     color: black;
     font-family: sans-serif;
     padding-bottom: 10px;
 }

 .category-title {
     color: black;
 }

 .chart {float: left; width: 33.33%; height: 230px; text-align: center;}
.chart span.title{position: relative; display: block; width: 100%; text-align: center; top: 110px;}